@import '_variables';
@import '_mixins';

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;

  @include range-track;
  @include range-thumb;

  &:focus {
    outline: none;
  }
}
