/*
5px increments, for both margin and padding, 
in each of the four directions (top, bottom, left right).

.m-t-5 {
  margin-top: 5;
}
*/
.m-t-5 {
  margin-top: 5;
}

.m-b-5 {
  margin-bottom: 5;
}

.m-l-5 {
  margin-left: 5;
}

.m-r-5 {
  margin-right: 5;
}

.p-t-5 {
  padding-top: 5;
}

.p-b-5 {
  padding-bottom: 5;
}

.p-l-5 {
  padding-left: 5;
}

.p-r-5 {
  padding-right: 5;
}

.m-t-10 {
  margin-top: 10;
}

.m-b-10 {
  margin-bottom: 10;
}

.m-l-10 {
  margin-left: 10;
}

.m-r-10 {
  margin-right: 10;
}

.p-t-10 {
  padding-top: 10;
}

.p-b-10 {
  padding-bottom: 10;
}

.p-l-10 {
  padding-left: 10;
}

.p-r-10 {
  padding-right: 10;
}

.m-t-15 {
  margin-top: 15;
}

.m-b-15 {
  margin-bottom: 15;
}

.m-l-15 {
  margin-left: 15;
}

.m-r-15 {
  margin-right: 15;
}

.p-t-15 {
  padding-top: 15;
}

.p-b-15 {
  padding-bottom: 15;
}

.p-l-15 {
  padding-left: 15;
}

.p-r-15 {
  padding-right: 15;
}

.m-t-20 {
  margin-top: 20;
}

.m-b-20 {
  margin-bottom: 20;
}

.m-l-20 {
  margin-left: 20;
}

.m-r-20 {
  margin-right: 20;
}

.p-t-20 {
  padding-top: 20;
}

.p-b-20 {
  padding-bottom: 20;
}

.p-l-20 {
  padding-left: 20;
}

.p-r-20 {
  padding-right: 20;
}

.m-t-25 {
  margin-top: 25;
}

.m-b-25 {
  margin-bottom: 25;
}

.m-l-25 {
  margin-left: 25;
}

.m-r-25 {
  margin-right: 25;
}

.p-t-25 {
  padding-top: 25;
}

.p-b-25 {
  padding-bottom: 25;
}

.p-l-25 {
  padding-left: 25;
}

.p-r-25 {
  padding-right: 25;
}
